<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>康宏汇款服务</title>

	<link rel="icon" 
      type="image/png" 
      href="http://3p2.net/convoy/img/asset/favicon.png">
	  
    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../css/convoy.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="createacct">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top"><img src="../img/asset/logo_top.png" alt="Convoy" style="width:230px; height:auto; margin-top:-5px;" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a class="token" href="index.html">密键登入</a>
                    </li>
                    <li class="page-scroll">
                        <a class="createacct" href="createacct.html">建立账号</a>
                    </li>
                    <li class="page-scroll">
                        <a class="userlogin" href="userlogin.html">用户登入</a>
                    </li>
					<li class="page-scroll">
                        <a class="acctinfo" href="acctinfo.html">户口概览</a>
                    </li>
					<li class="page-scroll">
                        <a class="txhistory" href="txhistory.html">交易概览</a>
                    </li>
					<li class="page-scroll">
                        <a href="#"><img src="../img/asset/cn.png" alt="zh-HK" />&nbsp;中文</a>
                    </li>
					<li class="page-scroll">
                        <a href="?lang=en"><img src="../img/asset/us.png" alt="Eng" />&nbsp;Eng</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
		<div class="container" id="maincontent" tabindex="-1">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<img class="../img-responsive login-screen-title" src="../img/asset/remittancesrv_cn.png" alt="Remittance Service" />
					<div class="login-panel panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">建立用户账号</h3>
						</div>
						<div class="panel-body">
								<!-- Very Brief Info to Remind User -->
								<div class="alert alert-success" role="alert" th:inline="text" th:object="${session.cpRmtTxn}">
								您正在建立用户账号于:
								<br>
								姓名: [[*{rcvNamePinyin}]]
								<br />
								手机号码: [[*{rcvMobileNum}]]
								</div>
							<form role="form" method="post">
								<fieldset>
									<div class="form-group">
										<a href="#" data-toggle="tooltip" class="helper" title="请输入用户账号"><input class="form-control" placeholder="用户账号" name="uname" type="text"></a>
									</div>
									<div class="form-group">
										<a href="#" data-toggle="tooltip" class="helper" title="请输入8位以上之密碼"><input class="form-control" placeholder="密碼" name="pwd" type="password" value=""></a>
									</div>
									<div class="form-group">
										<a href="#" data-toggle="tooltip" class="helper" title="请确认密码"><input class="form-control" placeholder="确认密码" type="password" value=""></a>
									</div>
									
									<!-- Change this to a button or input when using this as a form -->
									<!--<a href="userlogin.html" class="btn btn-md btn-success button_pair">提交</a>&nbsp;
									<a href="createacct.html" class="btn btn-md btn-success button_pair">重设 </a>-->
                                    <input type="submit" class="btn btn-md btn-success button_pair" value="提交">&nbsp;
                                    <input type="reset"  class="btn btn-md btn-success button_pair" value="重设">
								</fieldset>
							</form><br /><br />
						</div>
					</div>
				</div>
			</div>
		</div>
    </header>

    <!-- Other Content Area -->
<!--     <section class="" id="">

    </section> -->

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
					<div class="footer-col col-md-4">
                        <h4>联络我们</h4>
                        香港九龙观塘<br />创业街25号<br />创富中心1905室<br /> 电话: +852 XXXX XXXX
					</div>
                    <div class="footer-col col-md-4">
                        <h4>敬请关注</h4>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
					<div class="footer-col col-md-4">
                        <h4>版本</h4>
                        版本 1.0<br>09-May-2017
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        版权所有&copy;Convoy Payments Limited 康宏支付有限公司
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../js/convoy.min.js"></script>
	
		<!-- For hover tooltips -->
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip(); 
		});
	</script>

</body>

</html>
