<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Convoy Remittance Service</title>

    <link rel="icon" 
      type="image/png" 
      href="http://3p2.net/convoy/img/asset/favicon.png">
	
	<!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../css/convoy.css" rel="stylesheet">
	
	<!-- Interactive DataTable CSS -->
    <link href="../vendor/datatables/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="txhistory">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top"><img src="../img/asset/logo_top.png" alt="Convoy" style="width:230px; height:auto; margin-top:-5px;" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a class="token" href="index.html">Token Login</a>
                    </li>
                    <li class="page-scroll">
                        <a class="createacct" href="createacct.html">Create Account</a>
                    </li>
                    <li class="page-scroll">
                        <a class="userlogin" href="userlogin.html">User Login</a>
                    </li>
					<li class="page-scroll">
                        <a class="acctinfo" href="acctinfo.html">Account Info</a>
                    </li>
					<li class="page-scroll">
                        <a class="txhistory" href="txhistory.html">Transactions</a>
                    </li>
					<li class="page-scroll">
                        <a href="?lang=cn"><img src="../img/asset/cn.png" alt="zh-HK" />&nbsp;中文</a>
                    </li>
					<li class="page-scroll">
                        <a href="#"><img src="../img/asset/us.png" alt="Eng" />&nbsp;Eng</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
		<div class="container" id="maincontent" tabindex="-1">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">Transaction History</h2>
				</div>
			</div>
			<div class="row all-tx-table-header">
				<div class="col-lg-12">
					<div class="panel panel-default">
                        <div class="panel-heading">
                            All Transactions
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered" id="alltransactions">
									<thead class="bg-success">
                                        <tr>
											<th>Tx ID</th>
											<th>Date</th>
                                            <th>Sender's Name</th>
                                            <th>Country</th>
                                            <th>Currency</th>
                                            <th>Amount</th>
											<th>Status</th>
											<th>Remarks</th>
										</tr>
                                    </thead>
                                    <tbody>
										<tr>
                                            <th>0014</th>
											<th>12/05/2017</th>
                                            <th>Chen Xiao Wen</th>
                                            <th>China</th>
                                            <th>HK$</th>
                                            <th>1000</th>
											<th>OK</th>
											<th>nil</th>
                                        </tr>
										<tr>
                                            <th>0013</th>
											<th>12/05/2017</th>
                                            <th>Chen San Wen</th>
                                            <th>Hong Kong</th>
                                            <th>HK$</th>
                                            <th>1200</th>
											<th>Pending</th>
											<th>nil</th>
                                        </tr>
										<tr>
                                            <th>0012</th>
											<th>11/05/2017</th>
                                            <th>Li Xiao Hua</th>
                                            <th>Hong Kong</th>
                                            <th>HK$</th>
                                            <th>1100</th>
											<th>OK</th>
											<th>nil</th>
                                        </tr>
										<tr>
                                            <th>0011</th>
											<th>10/05/2017</th>
                                            <th>Chang Ning </th>
                                            <th>Hong Kong</th>
                                            <th>HK$</th>
                                            <th>1300</th>
											<th>OK</th>
											<th>nil</th>
                                        </tr>
										<tr>
                                            <th>0010</th>
											<th>10/05/2017</th>
                                            <th>Liu Hua </th>
                                            <th>Hong Kong</th>
                                            <th>HK$</th>
                                            <th>1100</th>
											<th>OK</th>
											<th>nil</th>
                                        </tr>
										<tr>
                                            <th>0009</th>
											<th>10/05/2017</th>
                                            <th>Li Xiao Xiao</th>
                                            <th>Hong Kong</th>
                                            <th>HK$</th>
                                            <th>8000</th>
											<th>OK</th>
											<th>nil</th>
                                        </tr>
										<tr>
                                            <th>0008</th>
											<th>09/05/2017</th>
                                            <th>Huang Ying Ming</th>
                                            <th>Hong Kong</th>
                                            <th>HK$</th>
                                            <th>12500</th>
											<th>Cancel</th>
											<th>Err</th>
                                        </tr>
										<tr>
                                            <th>0007</th>
											<th>08/05/2017</th>
                                            <th>Huang Ying Ming</th>
                                            <th>Hong Kong</th>
                                            <th>HK$</th>
                                            <th>1250</th>
											<th>OK</th>
											<th>nil</th>
                                        </tr>
										<tr>
                                            <th>0006</th>
											<th>07/05/2017</th>
                                            <th>Chang Ning </th>
                                            <th>Hong Kong</th>
                                            <th>HK$</th>
                                            <th>1000</th>
											<th>Pending</th>
											<th>nil</th>
                                        </tr>
										<tr>
                                            <th>0005</th>
											<th>06/05/2017</th>
                                            <th>He Da Guang</th>
                                            <th>Hong Kong</th>
                                            <th>HK$</th>
                                            <th>1100</th>
											<th>OK</th>
											<th>nil</th>
                                        </tr>
										<tr>
                                            <th>0004</th>
											<th>05/05/2017</th>
                                            <th>Da Da Da</th>
                                            <th>Hong Kong</th>
                                            <th>HK$</th>
                                            <th>1300</th>
											<th>OK</th>
											<th>nil</th>
                                        </tr>
										<tr>
                                            <th>0003</th>
											<th>03/05/2017</th>
                                            <th>David Wong</th>
                                            <th>Hong Kong</th>
                                            <th>HK$</th>
                                            <th>1600</th>
											<th>OK</th>
											<th>nil</th>
                                        </tr>
										<tr>
                                            <th>0002</th>
											<th>03/05/2017</th>
                                            <th>Carl Jackson</th>
                                            <th>Hong Kong</th>
                                            <th>HK$</th>
                                            <th>1100</th>
											<th>OK</th>
											<th>nil</th>
                                        </tr>
										<tr>
                                            <th>0001</th>
											<th>02/05/2017</th>
                                            <th>Huang Xi </th>
                                            <th>Hong Kong</th>
                                            <th>HK$</th>
                                            <th>700</th>
											<th>OK</th>
											<th>nil</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
			</div>
		</div>
    </header>
	
 
 
 

    <!-- Other Content Area -->
<!--    	<section class="" id="">

			</section> -->

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
					<div class="footer-col col-md-4">
                        <h4>Contact Us</h4>
                        Room 1905, Prosperity Centre,<br /> 25 Chong Yip Street, Kwun Tong,<br /> Kowloon, Hong Kong<br /> Tel: +852 XXXX XXXX
					</div>
                    <div class="footer-col col-md-4">
                        <h4>Stay Tuned!</h4>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
					<div class="footer-col col-md-4">
                        <h4>Version Info.</h4>
                        Version 1.0<br>09-May-2017
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Convoy Payments Limited
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../js/convoy.min.js"></script>
	
	<!-- Interactive DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables/js/dataTables.bootstrap.min.js"></script>
	
	<!-- Scripts For Interactive dataTables -->
    <script>
	$(document).ready(function(){
    $('#alltransactions').DataTable({"order": [[ 0, "desc" ]]});
});
    </script>
<script>
    $('li.page-scroll:eq(5)>a')[0].href=location.href.replace('/en/','/cn/');
    $('li.page-scroll:eq(6)>a')[0].href=location.href.replace('/cn/','/en/');
</script>
</body>

</html>
